<h2 class="screen-align">Test4</h2>
<div id="template-ixbf" class="row">
    <div id="template-ifvs" class="cell">
        <label id="template-i62z" class="label ">
            <div id="template-ic3q" class="">Label4</div>
        </label>
        <input id="template-ifv7" [(ngModel)]="test4.name4" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i7qf" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iitv" class="">Send</div>
        </button>
    </div>
</div>