<h2 class="screen-align">Test9</h2>
<div id="template-is83" class="row">
    <div id="template-id5i" class="cell">
        <label id="template-it1b" class="label ">
            <div id="template-i778" class="">Label</div>
        </label>
        <input id="template-igov" [(ngModel)]="test9.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-iaxp" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ikbo" class="">Send</div>
        </button>
    </div>
</div>