<h2 class="screen-align">Label1</h2>
<div id="template-irse" class="row">
    <div id="template-ijff" class="cell">
        <label id="template-inv1" class="label ">
            <div id="template-icpl" class="">Label1</div>
        </label>
        <input id="template-i8il" [(ngModel)]="test1.name1" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-illp" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i9fs" class="">Send</div>
        </button>
    </div>
</div>