<h2 class="screen-align">Test2</h2>
<div id="template-isbs" class="row">
    <div id="template-in8i" class="cell">
        <label id="template-iyjr" class="label ">
            <div id="template-isug" class="">Label2</div>
        </label>
        <input id="template-i2xh" [(ngModel)]="test2.name2" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ibsh" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-inxx" class="">Send</div>
        </button>
    </div>
</div>