<h2 class="screen-align">Test3</h2>
<div id="template-ihzu" class="row">
    <div id="template-iyga" class="cell">
        <label id="template-ihfr" class="label ">
            <div id="template-islp" class="">Label3</div>
        </label>
        <input id="template-iofa" [(ngModel)]="test3.name3" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ivwo" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ienz" class="">Send</div>
        </button>
    </div>
</div>