<h2 class="screen-align">Test8</h2>
<div id="template-iqfb" class="row">
    <div id="template-io3i" class="cell">
        <label id="template-ijf1" class="label ">
            <div id="template-ittr" class="">Label</div>
        </label>
        <input id="template-iwle" [(ngModel)]="test8.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-icna" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-igxm" class="">Send</div>
        </button>
    </div>
</div>