<h2 class="screen-align">Test10</h2>
<div id="template-i2ur" class="row">
    <div id="template-iiaz" class="cell">
        <label id="template-iq5a" class="label ">
            <div id="template-i2uj" class="">Label</div>
        </label>
        <input id="template-ilsy" [(ngModel)]="test11.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ir0j" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ii03" class="">Send</div>
        </button>
    </div>
</div>