<h2 class="screen-align">Test6</h2>
<div id="template-ik6i" class="row">
    <div id="template-iuya" class="cell">
        <label id="template-in0l" class="label ">
            <div id="template-ifjl" class="">Label</div>
        </label>
        <input id="template-ibp2" [(ngModel)]="test6.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-inuc" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iyvk" class="">Send</div>
        </button>
    </div>
</div>