<h2 class="screen-align">Test11</h2>
<div id="template-ipgf" class="row">
    <div id="template-it9j" class="cell">
        <label id="template-in0a" class="label ">
            <div id="template-ign9" class="">Label</div>
        </label>
        <input id="template-ilgq" [(ngModel)]="test10.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i47m" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-iiej" class="">Send</div>
        </button>
    </div>
</div>