<h2 class="screen-align">Test7</h2>
<div id="template-ie43" class="row">
    <div id="template-ihgk" class="cell">
        <label id="template-i5z9" class="label ">
            <div id="template-it2u" class="">Label</div>
        </label>
        <input id="template-ixoc" [(ngModel)]="test7.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i7te" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-is4l" class="">Send</div>
        </button>
    </div>
</div>